# Import Dataset

In [50]:
import pandas as pd

df = pd.read_csv('owid-covid-data.csv')

# Exploratory Data Analysis

In [76]:
from IPython.display import display 

print(df.shape)
print(df.dtypes)
# Observe top five rows in the dataset. This enables us to get an overview of the entire dataset fields and columns.
display(df.head())

(49878, 41)
iso_code                            object
continent                           object
location                            object
date                                object
total_cases                        float64
new_cases                          float64
new_cases_smoothed                 float64
total_deaths                       float64
new_deaths                         float64
new_deaths_smoothed                float64
total_cases_per_million            float64
new_cases_per_million              float64
new_cases_smoothed_per_million     float64
total_deaths_per_million           float64
new_deaths_per_million             float64
new_deaths_smoothed_per_million    float64
new_tests                          float64
total_tests                        float64
total_tests_per_thousand           float64
new_tests_per_thousand             float64
new_tests_smoothed                 float64
new_tests_smoothed_per_thousand    float64
tests_per_case                     float64
positive_rate                      float64
tests_units                         object
stringency_index                   float64
population                         float64
population_density                 float64
median_age                         float64
aged_65_older                      float64
aged_70_older                      float64
gdp_per_capita                     float64
extreme_poverty                    float64
cardiovasc_death_rate              float64
diabetes_prevalence                float64
female_smokers                     float64
male_smokers                       float64
handwashing_facilities             float64
hospital_beds_per_thousand         float64
life_expectancy                    float64
human_development_index            float64
dtype: object

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [159]:
display(df[df.continent.isnull()])

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
49302,OWID_WRL,NaN,World,2019-12-31,27.0,27.0,NaN,0.0,0.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
49303,OWID_WRL,NaN,World,2020-01-01,27.0,0.0,NaN,0.0,0.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
49304,OWID_WRL,NaN,World,2020-01-02,27.0,0.0,NaN,0.0,0.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
49305,OWID_WRL,NaN,World,2020-01-03,44.0,17.0,NaN,0.0,0.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
49306,OWID_WRL,NaN,World,2020-01-04,44.0,0.0,NaN,0.0,0.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49873,NaN,NaN,International,2020-10-09,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49874,NaN,NaN,International,2020-10-10,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49875,NaN,NaN,International,2020-10-11,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49876,NaN,NaN,International,2020-10-12,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49877,NaN,NaN,International,2020-10-13,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
display(df[df.total_cases.isnull()])

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
63,AFG,Asia,Afghanistan,2020-03-03,NaN,NaN,0.000,NaN,NaN,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
64,AFG,Asia,Afghanistan,2020-03-04,NaN,NaN,0.000,NaN,NaN,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
65,AFG,Asia,Afghanistan,2020-03-05,NaN,NaN,0.000,NaN,NaN,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
66,AFG,Asia,Afghanistan,2020-03-06,NaN,NaN,0.000,NaN,NaN,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
67,AFG,Asia,Afghanistan,2020-03-07,NaN,NaN,0.000,NaN,NaN,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48122,VEN,South America,Venezuela,2020-06-18,NaN,NaN,58.857,NaN,NaN,0.571,...,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.8,72.06,0.761
48303,VNM,Asia,Vietnam,2020-03-03,NaN,NaN,0.000,NaN,NaN,0.000,...,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.6,75.40,0.694
48304,VNM,Asia,Vietnam,2020-03-04,NaN,NaN,0.000,NaN,NaN,0.000,...,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.6,75.40,0.694
48305,VNM,Asia,Vietnam,2020-03-05,NaN,NaN,0.000,NaN,NaN,0.000,...,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.6,75.40,0.694
48306,VNM,Asia,Vietnam,2020-03-06,NaN,NaN,0.000,NaN,NaN,0.000,...,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.6,75.40,0.694

In [163]:
display(df[df.iso_code.isnull()])

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
49590,NaN,NaN,International,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49591,NaN,NaN,International,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49592,NaN,NaN,International,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49593,NaN,NaN,International,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49594,NaN,NaN,International,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49873,NaN,NaN,International,2020-10-09,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49874,NaN,NaN,International,2020-10-10,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49875,NaN,NaN,International,2020-10-11,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49876,NaN,NaN,International,2020-10-12,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49877,NaN,NaN,International,2020-10-13,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Date Preprocessing

### Correlations Visualization

In [78]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

column1=["gdp_per_capita", "life_expectancy", "human_development_index", "handwashing_facilities"]
column2 = ["total_deaths", "total_cases", "new_cases", "new_deaths"]
@interact
def get_correlation(column1=column1, column2=column2, n=100):
    transformed_df = df.groupby(["continent", "location", column1], as_index=False)[column2].sum()
    
    col1 = transformed_df[column1]
    col2 = transformed_df[column2]
    
    display("The correlation between {0} and {1} is {2}".format(column1, column2, col1.corr(col2)))
    display(transformed_df.head(n))

interactive(children=(Dropdown(description='column1', options=('gdp_per_capita', 'life_expectancy', 'human_devâ€¦

In [156]:
import matplotlib.pyplot as plt
# Helpers to format and locate ticks for dates
from matplotlib.dates import DateFormatter, DayLocator

# Set-up to have matplotlib use its support for notebook inline plots
%matplotlib inline

continent = df[df.continent.notnull()].continent.unique()

df["date"] = pd.to_datetime(df['date'], format="%Y/%m/%d")

@interact
def plot_chart(continent=continent):
    location_opt = df[df["continent"]==continent].location.unique()
    @interact
    def set_location(location=location_opt):
        case_opt = ["total_cases", "new_cases"]
        death_opt = ["total_deaths", "new_deaths"]
        start_date_opt = df["date"].min()
        end_date_opt = df["date"].max()
        @interact
        def set_time_and_type(case=case_opt, death=death_opt, start_date=widgets.DatePicker(
    description='Pick a Start Date',
    value = start_date_opt,
    disabled=False
), end_date=widgets.DatePicker(
    description='Pick a End Date',
    value=end_date_opt,
    disabled=False
)):
            transformed_df = df[(df["continent"]==continent) & (df["location"]==location)]
            
            start_date = pd.to_datetime(start_date, format="%Y/%m/%d")
            end_date = pd.to_datetime(end_date, format="%Y/%m/%d")
            
            if start_date > start_date_opt:
                transformed_df = transformed_df[transformed_df["date"] >= start_date]
            
            if end_date < end_date_opt:
                transformed_df = transformed_df[transformed_df["date"] <= end_date]
                
            sorted_transformed_df = transformed_df.sort_values(by="date")
            display(sorted_transformed_df.head())

            deaths = sorted_transformed_df[death]
            cases =sorted_transformed_df[case]
            dates = sorted_transformed_df['date']

            plt.rc('font', size=12)
            fig, ax = plt.subplots(figsize=(10, 6))

            # Specify how our lines should look
            ax.plot(dates, cases, color='tab:orange', label=case)
            ax.plot(dates, deaths, color='tab:red', label=death)
            ax.set_xlabel('Time')
            ax.set_ylabel('{0} and {1}'.format(case,death))
            ax.set_title('COVID Data')
            ax.grid(True)
            ax.legend(loc='upper left');
            ax.xaxis.set_major_locator(DayLocator())
            ax.xaxis.set_major_formatter(DateFormatter('%m/%d'))

            fig

interactive(children=(Dropdown(description='continent', options=('Asia', 'Europe', 'Africa', 'North America', â€¦